<div id="loginPage">
    <h1 class="login">这是一个登录页</h1>
    <br>
    <form class="form-inline">
      <div class="form-group">
        <label for="account">账号</label>
        <input type="text" class="form-control" placeholder="请输入账号" ng-model="user.account">
      </div>
    </form>
    <form class="form-inline">
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" placeholder="请输入密码" ng-model="user.password">
      </div>
    </form>
    <button type="button" class="btn btn-primary" ng-click="login()">登录</button>
    <p>（备注：账号密码都为1）</p>
  </div>
